.HomePage {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.HomeCard {
    background-color: #FFFDD0;
    width: 21rem;
    height: 32rem;
    color: black;
    border-radius: 1rem;
}

.ButtonsHomePage {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 1rem;
}